body  {
    background-color: #f5e7ea;
    background-image: url(2e5bfeee5351b58f0a0fa7b28fc43738.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
  .container {
    text-align: center;
    margin-top: 100px;
  }
  h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 48px;
    color: #fcdd78;
    margin-bottom: 30px;
  }
  p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #463aee;
    margin-bottom: 30px;
  }
  .btn {
    background-color: #969ff5;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
  }
  .btn:hover {
    background-color: #84aebb;
  }
